---
name: Push File

on: push

jobs:
  copy-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Pushes test file
      uses: dmnemec/copy_file_to_another_repo_action@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.test }}
      with:
        source_file: 'test.md''xyz.md'
        destination_repo: 'Matze240/child_repo'
        #destination_folder: 'test-dir'
        user_email: 'matzegithub@gmail.com'
        user_name: 'matze240'
        commit_message: 'A custom message for the commit'
